# Numpy Exercises
Use the following code for the questions below:

In [1]:
import numpy as np
a = np.array([4, 10, 12, 23, -2, -1, 0, 0, 0, -6, 3, -7])

1. How many negative numbers are there?

In [2]:
# select a where a is less than 0, display length of that array
len(a[a<0])

4

2. How many positive numbers are there?

In [3]:
# select a where a is greater than 0, display length of that array
len(a[a>0])

5

3. How many even positive numbers are there?

In [4]:
# select a where a>0 and a%2==0, display length of that array
len(a[(a>0) & (a%2==0)])

3

4. If you were to add 3 to each data point, how many positive numbers would there be?

In [5]:
# add 3 to each data point
a_plus_3 = a + 3
# show length of new array containing only positive values if 3 is added to each value
len(a_plus_3[a_plus_3>0])

10

5. If you squared each number, what would the new mean and standard deviation be?

In [6]:
# square each number
a_squared = a**2
# print new mean and new standard deviation
print(f'The new mean is {np.mean(a_squared)}.')
print(f'The new standard deviation is {a_squared.std()}.')

The new mean is 74.0.
The new standard deviation is 144.0243035046516.

6. A common statistical operation on a dataset is centering. This means to adjust the data such that the mean of the data is 0. This is done by subtracting the mean from each data point. Center the data set.

In [7]:
# center data by subtracting mean from each value
a_centered = a-a.mean()
print(a_centered)
# check that mean of centered data is 0
a_centered.mean()

[  1.   7.   9.  20.  -5.  -4.  -3.  -3.  -3.  -9.   0. -10.]

0.0

7. Calculate the z-score for each data point. Recall that the z-score is given by:
Z=(x−μ)/σ

In [8]:
# calculate z scores from a
a_zscores = (a-a.mean())/a.std()
# output array of zscores
a_zscores

array([ 0.12403473,  0.86824314,  1.11631261,  2.48069469, -0.62017367,
       -0.49613894, -0.3721042 , -0.3721042 , -0.3721042 , -1.11631261,
        0.        , -1.24034735])

8. Copy the setup and exercise directions from More Numpy Practice into your numpy_exercises.py and add your solutions.

In [9]:
# Life w/o numpy to life with numpy

## Setup 1
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Use python's built in functionality/operators to determine the following:

In [10]:
# Exercise 1 
# Make a variable called sum_of_a to hold the sum of all the numbers in above list
sum_of_a = sum(a)
sum_of_a

55

In [11]:
# Exercise 2
# Make a variable named min_of_a to hold the minimum of all the numbers in the above list
min_of_a = min(a)
min_of_a

1

In [12]:
# Exercise 3
# Make a variable named max_of_a to hold the max number of all the numbers in the above list
max_of_a = max(a)
max_of_a

10

In [13]:
# Exercise 4
# Make a variable named mean_of_a to hold the average of all the numbers in the above list
mean_of_a = sum(a)/len(a)
mean_of_a

5.5

In [14]:
# Exercise 5
# Make a variable named product_of_a to hold the product of multiplying all the numbers in the above list together
result = 1
for value in a:
    result *= value
    product_of_a = result
product_of_a

3628800

In [15]:
# Exercise 6
# Make a variable named squares_of_a. It should hold each number in a squared like 
# [1, 4, 9, 16, 25...]
squares_of_a = [n**2 for n in a]
squares_of_a

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [16]:
# Exercise 7
# Make a variable named odds_in_a. It should hold only the odd numbers
odds_in_a = [n for n in a if n % 2 != 0]
odds_in_a

[1, 3, 5, 7, 9]

In [17]:
# Exercise 8
# Make a variable named evens_in_a. It should hold only the evens.
evens_in_a = [n for n in a if n % 2 == 0]
evens_in_a

[2, 4, 6, 8, 10]

In [18]:
## What about life in two dimensions? A list of lists is matrix, a table, a spreadsheet, a chessboard...
## Setup 2: Consider what it would take to find the sum, min, max, average, sum, product, and list of squares for this list of two lists.
b = [
    [3, 4, 5],
    [6, 7, 8]
]

In [19]:
# Exercise 1 - refactor the following to use numpy. Use sum_of_b as the variable. **Hint, you'll first need to make sure that the "b" variable is a numpy array**
sum_of_b = 0
for row in b:
    sum_of_b += sum(row)
# turn b into array
b = np.array(b)
# use numpy sum method
np_sum_of_b = b.sum()
# check that result is same
print(sum_of_b)
print(np_sum_of_b)

33
33

In [20]:
# Exercise 2 - refactor the following to use numpy. 
min_of_b = min(b[0]) if min(b[0]) <= min(b[1]) else min(b[1])
# minimum of both lists using np min method
np_min_of_b = b.min()
# check that results are the same
print(min_of_b)
print(np_min_of_b)

3
3

In [21]:
# Exercise 3 - refactor the following maximum calculation to find the answer with numpy.
max_of_b = max(b[0]) if max(b[0]) >= max(b[1]) else max(b[1])
# max of both lists using np max method
np_max_of_b = b.max()
# check that results are the same
print(max_of_b)
print(np_max_of_b)

8
8

In [22]:
# Exercise 4 - refactor the following using numpy to find the mean of b
mean_of_b = (sum(b[0]) + sum(b[1])) / (len(b[0]) + len(b[1]))
# mean of both lists using np mean method
np_mean_of_b = b.mean()
# check that results are the same
print(mean_of_b)
print(np_mean_of_b)

5.5
5.5

In [23]:
# Exercise 5 - refactor the following to use numpy for calculating the product of all numbers multiplied together.
product_of_b = 1
for row in b:
    for number in row:
        product_of_b *= number
# use np prod method to multiply all numbers together
np_product_of_b = b.prod()
# check that results are the same
print(product_of_b)
print(np_product_of_b)

20160
20160

In [24]:
# Exercise 6 - refactor the following to use numpy to find the list of squares 
squares_of_b = []
for row in b:
    for number in row:
        squares_of_b.append(number**2)
# square values in b by squaring array
np_squares_of_b = b ** 2
# check that results are the same
print(squares_of_b)
print(np_squares_of_b)

[9, 16, 25, 36, 49, 64]
[[ 9 16 25]
 [36 49 64]]

In [25]:
# Exercise 7 - refactor using numpy to determine the odds_in_b
odds_in_b = []
for row in b:
    for number in row:
        if(number % 2 != 0):
            odds_in_b.append(number)
# use numpy array method
np_odds_in_b = b[b % 2 != 0]
# check that results are the same
print(odds_in_b)
print(np_odds_in_b)

[3, 5, 7]
[3 5 7]

In [26]:
# Exercise 8 - refactor the following to use numpy to filter only the even numbers
evens_in_b = []
for row in b:
    for number in row:
        if(number % 2 == 0):
            evens_in_b.append(number)
# use numpy array method
np_evens_in_b = b[b % 2 == 0]
# check that results are the same
print(evens_in_b)
print(np_evens_in_b)

[4, 6, 8]
[4 6 8]

In [27]:
# Exercise 9 - print out the shape of the array b.
# use numpy shape function
print(np.shape(b))

(2, 3)

In [51]:
# Exercise 10 - transpose the array b.
# use numpy transpose function
np.transpose(b)
# this also works the same way:
b.T

array([[3, 6],
       [4, 7],
       [5, 8]])

In [29]:
# Exercise 11 - reshape the array b to be a single list of 6 numbers. (1 x 6)
# use numpy reshape function
np.reshape(b, 6)

array([3, 4, 5, 6, 7, 8])

In [30]:
# Exercise 12 - reshape the array b to be a list of 6 lists, each containing only 1 number (6 x 1)
# use numpy reshape method, specifying new dimensions
b.reshape(6,1)

array([[3],
       [4],
       [5],
       [6],
       [7],
       [8]])

In [31]:
## Setup 3
c = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

# HINT, you'll first need to make sure that the "c" variable is a numpy array prior to using numpy array methods.

In [32]:
# Exercise 1 - Find the min, max, sum, and product of c.
# turn list c into array
c = np.array(c)
# print min, max, sum, and product of c
print(f'The min of c is {c.min()}.')
print(f'The max of c is {c.max()}.')
print(f'The sum of c is {c.sum()}.')
print(f'The product of c is {c.prod()}.')

The min of c is 1.
The max of c is 9.
The sum of c is 45.
The product of c is 362880.

In [33]:
# Exercise 2 - Determine the standard deviation of c.
# calculate standard deviaion using numpy .std() method
c.std()

2.581988897471611

In [34]:
# Exercise 3 - Determine the variance of c.
# calculate variance using numpy .var() method
c.var()

6.666666666666667

In [53]:
# Exercise 4 - Print out the shape of the array c
# use numpy shape function
print(np.shape(c))
# also works:
print(c.shape)

(3, 3)
(3, 3)

In [36]:
# Exercise 5 - Transpose c and print out transposed result.
# use numpy transpose method, assign to new variable
c_transposed = c.transpose()
# print transposed result
print(c_transposed)

[[1 4 7]
 [2 5 8]
 [3 6 9]]

In [37]:
# Exercise 6 - Get the dot product of the array c with c. 
# use numpy dot function
np.dot(c,c)

array([[ 30,  36,  42],
       [ 66,  81,  96],
       [102, 126, 150]])

In [38]:
# Exercise 7 - Write the code necessary to sum up the result of c times c transposed. Answer should be 261
# use numpy sum function
np.sum(c*c_transposed)

261

In [39]:
# Exercise 8 - Write the code necessary to determine the product of c times c transposed. Answer should be 131681894400.
# use numpy prod function
np.prod(c*c_transposed)

131681894400

In [40]:
## Setup 4
d = [
    [90, 30, 45, 0, 120, 180],
    [45, -90, -30, 270, 90, 0],
    [60, 45, -45, 90, -45, 180]
]

In [41]:
# Exercise 1 - Find the sine of all the numbers in d
# turn list d into array
d = np.array(d)
# use numpy sin function
np.sin(d)

array([[ 0.89399666, -0.98803162,  0.85090352,  0.        ,  0.58061118,
        -0.80115264],
       [ 0.85090352, -0.89399666,  0.98803162, -0.17604595,  0.89399666,
         0.        ],
       [-0.30481062,  0.85090352, -0.85090352,  0.89399666, -0.85090352,
        -0.80115264]])

In [42]:
# Exercise 2 - Find the cosine of all the numbers in d
# use numpy cos function
np.cos(d)

array([[-0.44807362,  0.15425145,  0.52532199,  1.        ,  0.81418097,
        -0.59846007],
       [ 0.52532199, -0.44807362,  0.15425145,  0.98438195, -0.44807362,
         1.        ],
       [-0.95241298,  0.52532199,  0.52532199, -0.44807362,  0.52532199,
        -0.59846007]])

In [43]:
# Exercise 3 - Find the tangent of all the numbers in d
# use numpy tan function
np.tan(d)

array([[-1.99520041, -6.4053312 ,  1.61977519,  0.        ,  0.71312301,
         1.33869021],
       [ 1.61977519,  1.99520041,  6.4053312 , -0.17883906, -1.99520041,
         0.        ],
       [ 0.32004039,  1.61977519, -1.61977519, -1.99520041, -1.61977519,
         1.33869021]])

In [44]:
# Exercise 4 - Find all the negative numbers in d
# use numpy array method
d[d < 0]

array([-90, -30, -45, -45])

In [45]:
# Exercise 5 - Find all the positive numbers in d
# use numpy array method
d[d > 0]

array([ 90,  30,  45, 120, 180,  45, 270,  90,  60,  45,  90, 180])

In [46]:
# Exercise 6 - Return an array of only the unique numbers in d.
# use numpy unique function
np.unique(d)

array([-90, -45, -30,   0,  30,  45,  60,  90, 120, 180, 270])

In [47]:
# Exercise 7 - Determine how many unique numbers there are in d.
# find length of array produced by np unique function
len(np.unique(d))
# could also use np.unique(d).size

11

In [48]:
# Exercise 8 - Print out the shape of d.
# use numpy shape function
np.shape(d)

(3, 6)

In [54]:
# Exercise 9 - Transpose and then print out the shape of d.
# traspose using numpy method, assign to new variable
d_transposed = d.transpose()
# print transposed array's shape
print(d_transposed.shape)

(6, 3)

In [50]:
# Exercise 10 - Reshape d into an array of 9 x 2
# use numpy reshape method, specifying new dimensions
d.reshape(9,2)

array([[ 90,  30],
       [ 45,   0],
       [120, 180],
       [ 45, -90],
       [-30, 270],
       [ 90,   0],
       [ 60,  45],
       [-45,  90],
       [-45, 180]])