# Pandas Exercises

## Exercises Part I

Use pandas to create a Series named fruits from the following list:

    ["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]

In [6]:
# assign variable to list
fruits_list = ["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]
# import pandas library
import pandas as pd
# create series from list
fruits = pd.Series(fruits_list)
# check series
fruits

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

#### Use Series attributes and methods to explore your fruits Series.

1. Determine the number of elements in fruits.

In [7]:
fruits.size

17

2. Output only the index from fruits.

In [16]:
fruits.index

RangeIndex(start=0, stop=17, step=1)

In [27]:
# to show list of index values
list(fruits.index)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

3. Output only the values from fruits.

In [15]:
fruits.values

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew', 'kiwi',
       'kiwi', 'kiwi', 'mango', 'blueberry', 'blackberry', 'gooseberry',
       'papaya'], dtype=object)

4. Confirm the data type of the values in fruits.

In [9]:
fruits.dtype

dtype('O')

5. Output only the first five values from fruits. Output the last three values. Output two random values from fruits.

In [29]:
print(fruits.head())
print()
print(fruits.tail(3))
print()
print(fruits.sample(2))

0          kiwi
1         mango
2    strawberry
3     pineapple
4    gala apple
dtype: object

14    blackberry
15    gooseberry
16        papaya
dtype: object

14    blackberry
1          mango
dtype: object

6. Run the `.describe()` on fruits to see what information it returns when called on a Series with string values.

In [13]:
fruits.describe()

count       17
unique      13
top       kiwi
freq         4
dtype: object

7. Run the code necessary to produce only the unique string values from fruits.

In [19]:
fruits.unique()

# fruits.nunique() # gives number of unique values

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew',
       'blueberry', 'blackberry', 'gooseberry', 'papaya'], dtype=object)

8. Determine how many times each unique string value occurs in fruits.

In [14]:
fruits.value_counts()

kiwi                4
mango               2
strawberry          1
papaya              1
blackberry          1
honeycrisp apple    1
honeydew            1
tomato              1
gala apple          1
blueberry           1
gooseberry          1
pineapple           1
watermelon          1
dtype: int64

9. Determine the string value that occurs most frequently in fruits.

In [31]:
fruits.value_counts().head(1)

# fruits.value_counts().idxmax() # gives index/row label with max value

kiwi    4
dtype: int64

10. Determine the string value that occurs least frequently in fruits.

In [35]:
fruits.value_counts().tail(11)

fruits.value_counts().nsmallest(n = 1, keep = 'all')

# .nlargest() and .nsmallest() give all values with max or min value

strawberry          1
papaya              1
blackberry          1
honeycrisp apple    1
honeydew            1
tomato              1
gala apple          1
blueberry           1
gooseberry          1
pineapple           1
watermelon          1
dtype: int64